<form action="/auth/login" method="POST" id="form">
  <h2>Login</h2>

  <label for="email">Email</label>
  <input type="text" name="email">

  <label for="password">Password</label>
  <input type="password" name="password">


  <button type="submit">Login</button>
</form>

{{#if errorMessage }}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}