<form action="/signup" method="post">

  <label for="">Age</label>
  <input type="number" name="age">

  <label for="">Breed</label>
  <input type="text" name="breed">
  
  <button>Finish!</button>

</form>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}