<div class="container">

  <div class="row" id="menu">
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/profile"><i class="fa fa-paw"></i></a>
    </div>
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/swipe"><i class="fa fa-search-plus"></i></a>
    </div>
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/match"><i class="fa fa-heart"></i></a>
    </div>
  </div>

<br>
<br>
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
