<div class="full-screen">
<div class="container">

  <div class="row">
    <div class="col col-sm-12">
      <img src="/images/FirstLogo.png" alt="Logo">
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-12">
      <img src="/images/dawg.png" alt="Logo">
    </div>
  </div>
  
</div>


<div id="index-form">

<form action="/auth/login" method="POST" id="login-form">
<div>
  <label for="email">Email</label>
  <input type="text" name="email" id="login-input">
</div>
<div>
  <label for="password">Password</label>
  <input type="password" name="password" id="login-input">
</div>
  <a href="/profile/swipe"><button id="login-button">LOG IN</button></a>

  {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <h6 class="space-around">Don't have an account? <a href="/auth/signup">Register now!</a></h6>

</form>

</div>
</div>