<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DAWG</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    
</body>
</html>

<img src="/images/logo.png" alt="">

<div id="index-buttons">
<a href="/auth/login"><button id="login">LOG IN</button></a>
</div>
