<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav> 
        <ul class="nav-bar"> <!-- Navigation Bar-->
              <li><a href="#profile">Profile</a></li>
              <li><a href="#swipe">Swipe</a></li>
              <li><a href="#match">Match</a></li>
        </ul>
    </nav>

    {{{body}}}
  </body>
</html>
