<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="../dropdown.js"></script>
  </head>
  <body>

    {{!-- <nav> 
        <ul class="nav-bar"> <!-- Navigation Bar-->
              <li><a href="" id="#profile">Profile</a></li>
              <li><a href="" id="#swipe">Swipe</a></li>
              <li><a href="" id= "#match">Match</a></li>
        </ul>
    </nav> --}}

    {{{body}}}
  </body>
</html>
