<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="../dropdown.js"></script>
  </head>
  <body>
    <h1>OYEEEEEEEE</h1>
    <nav class="mobile-view">
      {{{body}}}
    </nav>
  </body>
</html>
