    <nav> 
        <ul class="nav-bar"> <!-- Navigation Bar-->
              <li><a href="" id="#profile">Profile</a></li>
              <li><a href="" id="#swipe">Swipe</a></li>
              <li><a href="" id= "#match">Match</a></li>
        </ul>
    </nav>