<div class="container">

  <div class="row" id="menu">
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/profile"><i class="fa fa-paw"></i></a>
    </div>
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/swipe"><i class="fa fa-search-plus"></i></a>
    </div>
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/match"><i class="fa fa-heart"></i></a>
    </div>
  </div>

    <h2 class="match">MATCHES</h2>

{{#each matches}}
  <div>
    <img src="{{this.image}}" alt="match image" class="img-fluid">
    <p class="match-name">{{this.dogName}} </p>
    <p>Contact number: {{this.phoneNumber}}</p>
  </div>
{{else}}
<img src="/images/notfound.png" alt="" class="img-fluid">
<br>
<br>
<h2>Not matches found yet!</h2>
{{/each}}



 </body>
</html>