<div class="container">

  <div class="row" id="menu">
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/profile"><i class="fa fa-paw"></i></a>
    </div>
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/swipe"><i class="fa fa-search-plus"></i></a>
    </div>
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/match"><i class="fa fa-heart"></i></a>
    </div>
  </div>

    <h1>MATCHES</h1>

{{#each matches}}
  <div>
    <img src="{{this.image}}" alt="match image">
    <p>{{this.dogName}} </p>
    <p>{{this.phoneNumber}}</p>
  </div>
{{else}}
<img src="/images/notfound.png" alt="">
<h1>Not matches found yet</h1>
{{/each}}



 </body>
</html>