<div class="container">

  <div class="row" id="menu">
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/profile"><i class="fa fa-paw"></i></a>
    </div>
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/swipe"><i class="fa fa-search-plus"></i></a>
    </div>
    <div class="col col-xs-4">
      <a class="nav-link" href="/profile/match"><i class="fa fa-heart"></i></a>
    </div>
  </div>

    <h1>MATCHES</h1>

{{#each matches}}
  
  {{this}}
  
{{/each}}


 </body>
</html>



{{!-- {{#each match}}
<p>

  <a href="/match/edit?_id={{this._id}}" class="edit-button">
    EDIT
  </a>

  <a href="/match/details/{{this._id}}"> {{this.title}} </a>

</p>
{{/each}} --}}