<<<<<<< HEAD
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

=======
>>>>>>> 59db3ed68f46e902d0831b27875d01f1f6f682bd
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
<<<<<<< HEAD
  }

#index-buttons {
    display: flex;
    justify-content: center;
  }
=======
}
  
#index-buttons {
    display: flex;
    justify-content: center;
}
>>>>>>> 59db3ed68f46e902d0831b27875d01f1f6f682bd

#login {
    background-color: rgb(125, 0, 129);
    color: black;
<<<<<<< HEAD
    width: 300px;
    height: 32px;
}
=======
    width: 200px;
    height: 32px;
}

form {
    display: block;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin: 10px 0;
    width: 300px;
    border: 1px solid purple;
    border-radius: 3px;
}
>>>>>>> 59db3ed68f46e902d0831b27875d01f1f6f682bd
