body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-bar{
  padding: 10px 0px 0px 0px;
  width: 1200px;
  margin: 0 auto;
  text-align:center;
  display:flex;
  justify-content:space-evenly;
}

.nav-bar a{
  color:white;
  text-decoration: none;
  font-size: 2em;
  
}
.nav-bar ul{
  color: #00B7FF;
}

#profile {
  background-image: url("https://i.pinimg.com/originals/4c/f1/7a/4cf17a9f1cba43426100e3c45aead9fe.gif");
}

