body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 480px) {

  * {
    
    max-width: 480px;
  }

}

a {
  color: #00B7FF;
}

.nav-bar{
  padding: 0px 0px 0px 0px;
  width: 800px;
  margin: 0 auto;
  text-align:center;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

.nav-bar a{
  text-decoration: none;
  font-size: 2em;
  
}
.nav-bar ul{
  color: #00B7FF;
}

.mobile-view{
  display: flexbox;
}



