.rejectbutton{
    width: 150px;
    height: 150px;
    background-size: 100%;
    background-image: url(/images/redmark.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 100%;
}

.likebutton{
    width: 150px;
    height: 150px;
    background-size: 100%;
    background-image: url(/images/greenmark.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 100%;
}

.yesnobuttons{
    margin: 0 auto;
    text-align:center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.logo{
    width: 90px;
    height: 90px;
}

.swipe-content{
    text-align: center;
}